.enable-scrolling {
    overflow-y: scroll;
}




#resultList li {
  margin-bottom: 2px;
}

#resultList {
  margin-left: -25px;
}

#viz {
  border: 1px dashed grey;
  
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    
}

.modal {
    overflow: hidden;
}
.modal .modal-body {
     max-height: 500px; 
     min-height: 300px;
         /* height: 300px; */
     /* min-height: 300px;  */
    overflow: auto;
}

.modal .modal-fixed {
    position: fixed;
}  

#lawModal .modal-dialog  {width:80%;}

  .highlight {
    /* display: inline; */
    background: #3F51B5;
    color: #fff;
    padding:  0.25em;
    padding-left: 3px;
    padding-right: 5px;
    box-shadow: 5px 0 0 #004D40, -5px 0 0 #004D40;
  }

  .highlight-keyword {
    background: #3F51B5;
    color: #fff;
    padding:  0.25em;
    padding-left: 3px;
    padding-right: 5px;
    box-shadow: 1px 0 0 #004D40, -1px 0 0 #004D40;
  }


#mynetwork {
            border: 1px solid black;
            height: 400px;

        }
        /*
        #scrollIt {
            height: 50px;
            width: 50px;
            overflow-y: scroll;mama
        }
        */

        /* Sticky Footer Css */
        /* Sticky footer styles
        -------------------------------------------------- */
         html {
          position: relative;
          min-height: 100%;
          margin-right: 10px;
          margin-left: 10px;
          overflow: hidden;
        } 
        body {
          /* Margin bottom by footer height */
          margin-bottom: 60px;
        }
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          /* Set the fixed height of the footer here */
          height: 60px;
          background-color: #f5f5f5;
        }


        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        .container {
          width: auto;
          max-width: 680px;
          padding: 0 15px;
        }
        .container .text-muted {
          margin: 20px 0;
        }

        .text-muted {
            color: black;
        }