{% extends 'base.html' %}

{% block body %}


<div class="container text-center">
    <h1>About</h1>

    </br>

    <h4>This Law Network Visualization Tool has been researched & developed by</h4> 

    </br>

    <h5><a href="https://nsaquib.com/" target="_blank">Nazmus Saquib</a> | Research Mentor</h5> 

    </br>
    
    <h5><a href="https://www.linkedin.com/in/arpeeta-shams-mizan-00bba76a/?ppe=1" target="_blank">Arpeeta Shams Mizan</a> | Law Researcher, Mentor & Collaborator</h5> 

    </br>

    <h5><a href="http://uap-bd.edu/lhr/emraan-azad/" target="_blank">Emraan Azad</a> | Law Researcher, Mentor & Collaborator</h5> 

    </br>
       
    <h5><a href="https://www.linkedin.com/in/pinku-deb-nath-850a3975/?ppe=1" target="_blank">Pinku Deb Nath</a> | Researcher & Developer</h5>

    </br>

    <h5><a href="http://mandal.manash.me">Manash Kumar Mandal</a> | Researcher & Developer</h5>

    


</div>


{% endblock %}