{% extends 'base.html' %}

{% block body %}


<div class="container text-center">
    <h1>About</h1>

    </br>

    <h4>This Law Network Visualization Tool has been researched & developed by</h4> 

    </br>

    <h5><a href="https://nsaquib.com/">Nazmus Saquib</a> | Mentor, Researcher & Head of Ideas</h5> 

    </br>
       
    <h5><a href="http://mandal.manash.me">Manash Kumar Mandal</a> | Researcher & Developer</h5>

    </br>

    <h5>Pinku Deb Nath | Researcher & Developer</h5>

    


</div>


{% endblock %}