{% extends 'viz_base.html' %}

{% block customcss %}

<style>

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

#searchResultPanelBody{
    height: 350px;
    max-height: 350px;
    overflow: auto;
}

</style>

{% endblock %}

{% block body %}

<div class="row">
<!-- Search Result and Viz -->
  <div class="col-md-9">
      <!-- Search Result  -->
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Search Result</h3>
            </div>
                <div class="panel-body" id="searchResultPanelBody">  
            </div>
        </div>
    </div>

    <!-- Viz  -->
    <div class="col-md-8">
        <div id="mynetwork" style="min-height: 400px;">

        </div>
    </div>
  </div>

  <!-- Amendment and Edge Detail  -->
  <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-success" id="edgeDetailPanel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Connection Details</h3>
                        </div>
                            <div class="panel-body" id="edgeDetailPanelBody">  
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="panel panel-primary" id="amendmentPanel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Amendments</h3>
                        </div>
                            <div class="panel-body" id="amendmentPanelBody">  
                        </div>
                    </div>
            </div>
        </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="lawModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="lawModalTitle">Modal title</h4>
      </div>
      <div class="modal-body" id="lawModalBody">
          <div class="row" id="lawModalBodyText">

              <!-- Law text  -->
              <div class="col-md-7">
                  <h5 id="volume"></h5>
                  <p id="date"></p>
                  <p id="subtitle"></p>
                  <p id="preamble"></p>
                  <table id="section" class="table">
                        <thead>
                            <tr>
                                <th>Section Title</th>
                                <th>Section Details</th>
                            </tr>

                            <tbody id="sectionTableBody">
                            </tbody>
                        </thead>
                  </table>
              </div>

              <!-- <div class="col-md-5" id="viz" style="width: 100%; height: 400px;">
                    
              </div> -->
              <div class="col-md-5">
                  <div class="row modal-fixed">
                      <div class="col-md-12" id="viz" style="width: 100%; height: 500px;" >

                      </div>
                  </div>
              </div>

               <!-- Inner Network Viz  
              <div class="col-md-5" id="innerViz">    
                    <div class="modal-fixed" id="innerNetwork" style="min-height: 400px;">
                        
                    </div>
              </div> -->
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}