{% extends 'viz_base.html' %}


<style>

    html {
        max-width: 50%;
    }

</style>

{% block body %}


<div class="row">

    <div class="col-sm-3 col-md-3" style="float: right;">
        <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Amendments</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
        </div>
   </div>

</div>

<div class="row">

   <div class="col-sm-3 col-md-3" style="float: right;">
        <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Edge Detail</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
        </div>
   </div>

</div>

{% endblock %}