<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/ca028002b4.js"></script>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-paper.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vis.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vis-network.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"> -->
    {% endblock %}

    {% block customcss %}
    <style type="text/css">
        
        
    </style>
    {% endblock %}

    <title> {{ Visualization }} | Law Viz Network</title>
</head>

<body>

<div class="container-fluid">
    <div class="row">

<nav class="navbar navbar-default" role="navigation" id="lawSearchNavBar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Visualization Tool</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a>
            <input id="phraseOnlyCheckBox" type="checkbox">
            <label for="phraseOnlyCheckBox">
                            Phrase Only
            </label>
        </a>
    </li>

    <li><a>
            <input id="excludeSingleKeywordCheckBox" type="checkbox">
            <label for="excludeSingleKeywordCheckBox">
                            Exclude Single Keyword
            </label>
        </a>
    </li>


    </ul>
    <div class="col-sm-4 col-md-4">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter Keywords Here" id="keywordSearchInput">
            <div class="input-group-btn">
                <button id="searchButton" class="btn btn-success" style="width: 50px; margin-left: 20px;" type="submit"><i class="fa fa-search"></i></button>
                <button id="clearButton" class="btn btn-primary" style="width: 50px; margin-left: 20px;" type="submit">
                    <i class="fa fa-window-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="" id="loadingIcon"></div>
        </div>
        </form>
    </div>

  </div><!-- /.navbar-collapse -->
</nav>

    </div>

</div>

    {% block body %}

    {% endblock %}


    <footer class="footer" id="theFooter">
      <div class="container">
        <p class="text-muted"><a href="{{ url_for('main.index') }}">Homepage</a>  | <a href="{{ url_for('main.about') }}">About</a> |
            <a href="#">Log Out</a></p>
      </div>
    </footer>
</body>

<!-- Js Files  -->
{% block script %}
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.js') }}"></script>
<!-- Add the script file only if there is a network to show  -->
<!--<script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<script src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script src="{{ url_for('static', filename='js/visjsnetwork.js') }}"></script>
<script src="{{ url_for('static', filename='js/network.js') }}"></script>
{% endblock %}

</html>